@{
    ViewData["Title"] = "Envio de Email";
}

<h2>Envio de Email</h2>

<p>O email foi enviado com sucesso para o destinatário.</p>

<p>
    <a asp-controller="Home" asp-action="Index">Voltar para a página inicial</a>
</p>
